.nav {
    display: flex;
    justify-content: space-between;
    background: rgb(20, 20, 20);
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 95%;
    margin: auto;
    padding: 1em;
}
.icon {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}
.create {
    max-height: 0;
    text-decoration: none;
}
.create span {
    padding: 0.5rem;
    margin-top: 20px;
    color: rgb(231, 231, 231);
    font-size: 1.5rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
    transition: all .5s;
}
.create span:hover {
    color: rgb(20, 20, 20);
    background: var(--color-gold);
    border: 1px solid var(--color-gold);
}

button {
    background: none;
    border: none;
}
button:hover {
    cursor: pointer;
}
